    .Sudoku {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    .ContentContainer {
      display: flex;
      gap: 50px;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
    }