.About {
  text-align: center;
}
.Title {
  font-size: 32px;
  margin-bottom: 20px;
}
.About-description {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.LinkedIn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}