.Home {
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .Home-description {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 30px;
    align-items: center;
  }

  .Home .About{
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: coral;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  .Presentation{
    display: flex;
    justify-content: justify;
    align-items: center;
    flex-direction: column;
  }

  .Home .About:hover {
    background-color: tomato;
  }
  
  .Home .About:active {
    background-color: crimson;
  }
