.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.App-header {
  margin-top:30px;
  width: 100%;
  text-align: center;
}

.main{
  width: 100%;
  min-height: 74vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.App-footer {
  margin-top:20px;
  width: 100%;
  text-align: center;
  align-items: center;
}

